# Getting data from Metatrader5

In [3]:
import MetaTrader5 as mt5
mt5.initialize(path = r"C:\Program Files\STP Trading MT5 Terminal\terminal64.exe")

True

In [4]:
import pandas as pd
import datetime
current_time = datetime.datetime.now()
rates = mt5.copy_rates_from("USDJPY.stp", mt5.TIMEFRAME_D1, current_time, 100)
rates_frame = pd.DataFrame(rates)
rates_frame

,time,open,high,low,close,tick_volume,spread,real_volume
0,1637539200,114.135,114.956,114.015,114.785,63451,9,0
1,1637625600,114.785,115.214,114.478,115.138,75883,8,0
2,1637712000,115.137,115.517,114.820,115.404,71466,8,0
3,1637798400,115.403,115.442,115.025,115.071,41050,8,0
4,1637884800,115.073,115.108,113.047,113.347,121829,9,0
...,...,...,...,...,...,...,...,...
95,1647129600,117.345,117.554,117.307,117.513,1418,9,0
96,1647216000,117.512,118.295,117.452,118.278,52437,9,0
97,1647302400,118.279,118.445,117.694,118.312,64306,9,0
98,1647388800,118.312,119.117,118.168,118.844,77105,7,0
99,1647475200,118.844,119.021,118.486,118.638,44056,9,0

In [6]:
rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')
rates_frame.set_index('time', inplace=True)
rates_frame

,open,high,low,close,tick_volume,spread,real_volume
time,,,,,,,
2021-11-22,114.135,114.956,114.015,114.785,63451,9,0
2021-11-23,114.785,115.214,114.478,115.138,75883,8,0
2021-11-24,115.137,115.517,114.820,115.404,71466,8,0
2021-11-25,115.403,115.442,115.025,115.071,41050,8,0
2021-11-26,115.073,115.108,113.047,113.347,121829,9,0
...,...,...,...,...,...,...,...
2022-03-13,117.345,117.554,117.307,117.513,1418,9,0
2022-03-14,117.512,118.295,117.452,118.278,52437,9,0
2022-03-15,118.279,118.445,117.694,118.312,64306,9,0
2022-03-16,118.312,119.117,118.168,118.844,77105,7,0
2022-03-17,118.844,119.021,118.486,118.638,44056,9,0

In [8]:
rates_frame.to_csv('USDJPY_D1.csv')

# Trading

In [9]:
symbol = "USDJPY.stp"
lot = 0.01
point = mt5.symbol_info(symbol).point
price = mt5.symbol_info_tick(symbol).ask # or bid
request = {
    "action": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type":mt5.ORDER_TYPE_BUY, # or ORDER_TYPE_SELL
    "price": price,
    "sl": price - 100 * point,
    "tp": price + 300 * point,
    "magic": 234000,
    "comment": "python script open position",
    "type_time": mt5.ORDER_TIME_GTC,
    "type_filling": mt5.ORDER_FILLING_IOC,
}
mt5.order_send(request)

OrderSendResult(retcode=10009, deal=648981, order=679940, volume=0.01, price=118.637, bid=118.622, ask=118.637, comment='Request executed', request_id=1, retcode_external=0, request=TradeRequest(action=1, magic=234000, order=0, symbol='USDJPY.stp', volume=0.01, price=118.637, stoplimit=0.0, sl=118.537, tp=118.937, deviation=0, type=0, type_filling=1, type_time=0, expiration=0, comment='python script open position', position=0, position_by=0))

In [11]:
position_id = 679940
price = mt5.symbol_info_tick(symbol).bid # or ask
request = {
    "action": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type":mt5.ORDER_TYPE_SELL, # or ORDER_TYPE_BUY
    "position": position_id,
    "price": price,
    "magic": 234000,
    "comment": "python script close position",
    "type_time": mt5.ORDER_TIME_GTC,
    "type_filling": mt5.ORDER_FILLING_IOC,
}
mt5.order_send(request)

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=1, magic=234000, order=0, symbol='USDJPY.stp', volume=0.01, price=118.542, stoplimit=0.0, sl=0.0, tp=0.0, deviation=0, type=1, type_filling=1, type_time=0, expiration=0, comment='python script close position', position=679940, position_by=0))